/* ---- isotope ---- */

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

button {
	cursor: pointer;
}

.button-group {
	text-align: center;
	margin: 0 auto 50px;
}

#instafeed img {
	width: 250px;
	height: auto;
	display: block;
	max-width: 100%;
	box-shadow: 0 0 8px #999;
	margin: auto;
	transform: rotate(-5deg);
	position: relative;
	top: 40px;
}

#instafeed .normal-image img {
    width: 100%;
    padding: 25px;
    transform: none;
    top: auto;
    box-shadow: none;
}

#instafeed .resource-bg-img img {
	width: 100%;
	transform: none;
	top: auto;
	box-shadow: none;
}

#instafeed .ebook-cover img {
	width: 250px;
	top: auto;
	margin: 20px auto;
}

#instafeed {
	width: 100%;
	margin: auto;
}

.grid-item {
	box-shadow: 0px 0px 15px #c9c9c9;
}

.grid-item.hover:before {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
	background: rgba(0, 0, 0, .75);
}

.grid-inner {
	position: relative;
	transition: all 0.25s ease-in-out;
	overflow: hidden;
	border: 1px solid #e9e9e9;
	background-color: #fff;
}

.card-content p {
	display: inline;
}

.read-more-link {
	font-size: 17px;
	font-weight: 700;
}

.fa.fa-picture-o, .fa.fa-external-link {
	position: absolute;
	transition: all 0.25s ease-in-out;
	top: 50%;
	color: #fff;
	opacity: 0;
	visibility: hidden;
	z-index: 1;
}

.fa.fa-picture-o {
	transform: translateY(-50%);
	left: 32.5%;
	font-size: 30px;
}

.fa.fa-external-link {
	transform: translateY(-48%);
	right: 32.5%;
	font-size: 33px;
}

.link-button a {
	text-decoration: none;
}

.link-button.show .fa.fa-picture-o, .link-button.show .fa.fa-external-link {
	opacity: 1;
	visibility: visible;
	transition: all 0.25s ease-in-out;
}

.grid-item:before {
	position: absolute;
	visibility: hidden;
	width: 100%;
	height: 100%;
	opacity: 0;
	background: rgba(0, 0, 0, .75);
	transition: all 0.25s ease-in-out;
	left: 0;
	top: 0;
	content: '';
	z-index: 1;
}

/* ---- grid ---- */

.gutter-sizer {
	width: 3%;
}

/* clear fix */
#instafeed:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.card-content {
	background-color: #f5f5f5;
	padding: 2em;
	text-align: left;
	position: relative;
}

.entry-content .card-content h3 {
	margin: 0 0 15px;
	color: #000;
}

.entry-content h4.card_subtitle {
	font-weight: bold;
	font-size: 19px;
	line-height: 1.35em;
	color: #999;
	margin: 0;
}

.post-meta {
	font-size: 13px;
	line-height: 17px;
}

@media (min-width: 800px) {

.grid-sizer,
.grid-item, 
.resource-item {
  width: 31.333%;
}
}

@media (max-width: 540px) {
.grid-sizer, 
.grid-item, 
.resource-item {
	width: 100%;
}
.grid-item, .resource-item {
 margin-bottom: 5%;
}
}

@media (min-width: 540px) and (max-width: 800px) {
.grid-sizer, 
.grid-item, 
.resource-item {
	width: 48.5%;
}
.grid-item, 
.resource-item {
 margin-bottom: 3%;
}
}

@media (min-width: 541px) {
.grid-item, 
.resource-item {
 margin-bottom: 3%;
}
}

.filters-button-group {
	font-size: 0;
	z-index: 999;
	padding-top: 10px;
}

.filters-button-group.fixed {
    width: 100%;
    left: 0;
    background-color: #fff;
    position: fixed;
    box-shadow: 0 10px 15px #999;
}

.filters-button-group button {
	padding: 10px 15px;
    border: none;
    background: #d9d9d9;
    margin: 0 5px 10px;
}

.mobile-filter {
   display: none;
   padding: 15px 0;
   text-align: center;
   transition: 0.5s ease-in-out;
}

.mobile-filter button {
    font-size: 18px;
    padding: 10px 15px;
    border: 1px solid #000;
    background-color: transparent;
    line-height: 20px;
}

.filters-button-group .button.is-checked {
    background-color: #fff;
    border: 2px solid #000;
    line-height: 11px;
}

.mobile-filter.fixed {
    width: 100%;
    left: 0;
    background-color: #fff;
    position: fixed;
    z-index: 999;
}

.page-id-2662 #main-header.et-fixed-header {
    box-shadow: none!important;
}

.mobile-filter.nav-up {
	top: 0!important;
}

.mobile-filter > button.open:after {
	content: '\f00d';
	font-family: fontAwesome;
	margin-left: 10px;
}

@media (max-width: 400px) {
    .mobile-filter {
        display: block;
    }
    .filters-button-group {
        display: none;
    }
}
@media (max-width: 812px) and (orientation: landscape) {
    .mobile-filter {
        display: block;
    }
    .filters-button-group {
        display: none;
    }
}

@media (max-width: 812px) {
	.filters-button-group.nav-up {
		top: 72px;
	}
	.filters-button-group.nav-down {
		top: 150px;
	}
}

@media (min-width: 813px) {
	.filters-button-group.nav-up, .mobile-filter.nav-up {
		top: 0!important;
	}
	.filters-button-group {
		transition: 0.5s ease-in-out;
	}
}