@import url(normalize.css);
@import url(flexboxgrid.min.css);
@import url(fontawesome-all.min.css);
@import url(isotope.css);
@import url(noscript.css);
@import url(slick-theme.css);
@import url(team.css);
@import url(main.css);
/* FIVE COLUMN GRID */

.col-lg-1_5, .col-md-1_5 {
	flex-basis: 100%;
	max-width: 100%;
}

/* BOXED COLUMN */

.boxed-content {
	padding: .5em 2em 1.5em 2em;
	border: 1px solid #000;
}

/* ADD TOP AND BOTTOM PADDING TO FLEX BOX ITEMS */

.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-offset-0, .col-sm-offset-1, .col-sm-offset-10, .col-sm-offset-11, .col-sm-offset-12, .col-sm-offset-2, .col-sm-offset-3, .col-sm-offset-4, .col-sm-offset-5, .col-sm-offset-6, .col-sm-offset-7, .col-sm-offset-8, .col-sm-offset-9 {
	padding-bottom: .5em;
	padding-top: .5em;
}

/* REMOVE SIDE PADDING WHEN ROW IS 800PX WIDE */

.width-800 > .row-width-1280 {
	padding-right: 0;
	padding-left: 0;
}

.alignright {
	float: right;
	margin: 10px 0 20px 20px;
}

.alignleft {
	float: left;
	margin: 10px 20px 20px 0;
}

/* MAX WIDTH */

.max-width-600 {
	max-width: 600px;
}

.voltage-magazine .image-container img {
	max-height: none;
	max-width: none;
}

.voltage-magazine .post-content-container ul.image-grid-container {
	filter: unset;
}

.column-container h3:first-of-type {
	margin-top: 0;
}

.clear:after {
	display: table;
	clear: both;
	content: "";
}

input[type="button"], input[type="submit"], input[type="reset"], button, .button {
	border-radius: 4px;
}

.mobile-filter button:hover {
	background: #000;
}

.mobile-filter, .filters-button-group {
	width: 80%;
}

.pagination {
	padding-bottom: 4em;
}

@media (min-width: 981px) {
	.col-lg-1_5, .col-md-1_5 {
		flex-basis: 20%;
		max-width: 20%;
	}
	
	.tiles article:first-of-type:after {
		content: "";
		position: absolute;
		top: 0;
		right: -2.5px;
		height: 100%;
		width: 5px;
		background-color: #fff;
		z-index: 10;
	}
	
	.width-800.gutter_space_1 > .column-container:first-of-type {
		padding-left: 0;
	}
	
	.width-800.gutter_space_1 > .column-container:last-of-type {
		padding-right: 0;
	}
	
	.width-800.gutter_space_1 {
		margin-left: auto;
		margin-right: auto;
	}
	
	.row.gutter_space_1 {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	
	.gutter_space_1 > .column-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
	
	.column-container img {
		margin-top: 10px;
		margin-bottom: 10px;
	}
}

@media (max-width: 980px) {
	.col-lg-1_5, .col-md-1_5, .flex-box {
		flex-basis: 50%;
		max-width: 50%;
	}
	
	.row-width-1280 {
		padding-left: 3em;
		padding-right: 3em;
	}
	
	.post-title-outer {
		padding: 0 2em;
	}
	
	.row.gutter_space_1 {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	
	.gutter_space_1 > .column-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (max-width: 1024px) {
	.width-800.gutter_space_1 > .column-container:first-of-type {
		padding-right: 2em;
	}
	
	.width-800.gutter_space_1 > .column-container:last-of-type {
		padding-left: 2em;
	}
	
	#footer .row.gutter_space_1 {
		margin-left: -2rem;
		margin-right: -2rem;
	}
	
	#footer .gutter_space_1 > .column-container {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

@media (max-width: 480px) {
	.col-lg-1_5, .col-md-1_5, .flex-box {
		flex-basis: 100%;
		max-width: 100%;
	}
	
	.row-width-1280 {
		padding-left: 2em;
		padding-right: 2em;
	}
	
	.post-title-outer {
		padding: 0 1em;
	}
}
